# Ignore node_modules directory
node_modules/

# Ignore npm's cache
.npm

# Ignore logs
logs
*.log

# Ignore yarn's lock file
yarn.lock

# Ignore Visual Studio Code settings
.vscode/

# Ignore macOS folder attributes
.DS_Store

# Ignore editor-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln