body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
}
/* Style the container */
#container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 10rem auto;
}


h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}


.formGrid {
    display: grid;
    gap: 10px;
}

.label {
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#currencyValueInput {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the result output */
#targetCurrencyOutput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}